.intro{ 
    height: 500px;
    background-color: rgb(129, 118, 139);
    height:300px;
} 
.comp{
    height: 300px;
    background-color: rgb(129, 118, 139);
    height:300px;
}
.whatdo{
    height: 300px;
    background-color: rgb(129, 118, 139);
    height:300px;
}
